
body{
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)),
        url('./assets/hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
/* Estilos para el contenido principal */
.main-content {
    color: rgb(255, 255, 255);
    padding: 2rem; /* Agregar espacio alrededor del contenido */
    margin-top: 20px; /* Asegura que el texto esté separado del header */
    text-align: center; /* Centrar texto */
}

.title {
    font-size: 5rem; /* Ajustar el tamaño para que sea más pequeño y visible */
    margin-bottom: 1rem;
}
.description{
    font-size: 4rem;
    text-decoration: solid;
}

