:root{
    --background: rgba(0, 0, 0, 0.5);
    --title:rgb(229, 26, 63);
}
body {
    font-family: "Poppins", sans-serif;
    background-image: linear-gradient(to top, #b3f1ee4d 0%, #fdb5cc50 100%),
    url("../assets/descarga.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

}
.main{
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
}
.Antecedentes {
    width: 80%;
    text-align: center;
    border: rgb(41, 40, 40) solid;
    margin-top: 20px;
    text-align: center;
    font-size: 20px;

}

.Antecedentes h2 {
    background-color: #000000bd;
    width: 100%;
    color: var(--title);
    font-family: "Sansita", sans-serif;
    font-size: 50px;
}

.Antecedentes p {
    margin:10px;
}

.row {
    max-width: 100%;
}

.table-container {
    width: 60%;
    max-width: 800px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 16px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color:#000000bd;
    color: var(--title);
    font-size: 1.2em;
}

td {
    font-size: 1em;
}
.category {
    font-weight: bold;
    background-color: #000000bd;
    color: var(--title);
    text-transform: uppercase;
}
@media (max-width:768px) {
    .main{
        display: block;
       
    }
    .Antecedentes, .table-container{
        margin: 0 auto;
        width: 100%;
    }
}
footer {
    position: absolute;
    width: 100%;
    background-color: rgb(44, 44, 44);
    color: rgb(134, 134, 134);
    font-size: 25px;
    box-shadow: 0 0 5rem #000;
    padding: 20px;
}

footer span {
    font-family: "Bubblegum Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    transform: rotate(-4deg);
    color: rgb(44, 44, 44);


}

footer div {
    display: inline-block;
    transform: rotate(2deg);
    background-color: rgb(134, 134, 134);
    border-radius: 10%;
}