body{
    font-family: "Poppins", sans-serif;
    background-image: linear-gradient(to top, #b3f1ee4d 0%, #fdb5cc50 100%),
    url();
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment: fixed;
    background-position: center;
}
.Antecedentes{
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
    
}
.Antecedentes h2{
    font-family: "Sansita", sans-serif;
    font-size: 50px;
}

footer{
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: rgb(44,44, 44);
    color: rgb(134, 134, 134);
    font-size: 25px;
    box-shadow: 0 0 5rem #000;
    padding:20px;
}
footer span{
    font-family: "Bubblegum Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    transform: rotate(-4deg);
    color:  rgb(44,44, 44);
    
   
}
footer div{
    display: inline-block;
    transform: rotate(2deg);
    background-color: rgb(134, 134, 134);
    border-radius: 10%;
}